<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- might neew to check this file path to get to style.css --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/sushi_style.css" type="text/css" />
		<title>Sushi Lover!</title>
	
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
         {{!-- might neew to check this file path to get to client.css --}}
		<script src="../../public/assets/js/client.js"></script>
	</body>
</html>
