<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- might neew to check this file path to get to style.css --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fira+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/sushi_style.css" type="text/css" />
		<title>Sushi Lover!</title>
	
	</head>
	<body>
		<div class="container">
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         {{!-- might neew to check this file path to get to client.css --}}
		<script src="/assets/js/client.js"></script>
		</div>
	</body>
</html>
