<img src="https://media.giphy.com/media/tN1YiOeZmIRKE/giphy.gif" alt="Picture of Sushi Roll"> 

<h1 class="title">Sushi Lover!</h1>

<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="ca" name="name">
  </div>

<div class="form-group">
  <button type="submit">submit</button>
  </div>

<div class="form-group">
  <p>Enter a sushi order you want to eat!</p>
  </div>
</form>
























{{!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> --}}